.visitorTable{
	margin-left: 25px;
	width: 900px;
	border: 0px;
	margin: 0px;
	border-collapse:collapse
}
.visitorTitle{
	text-align: center;
	font-size: 26px;
	font-weight: bold;
}
.visitorTableRow{
	height: 15px;
}