.banner{
	margin: 0 auto;
	margin-bottom: 0px;
	position: relative;
	height:171px;
	width: 1024px;
	text-align: center;
}
#login{
	z-index: 1;
	position: absolute;
}
.menusor{
	margin: 0 auto;
	position: relaitve;
	text-align: center;
	width: 1024px;
	height: 35px;
}
	.menu_pont{
		float: left;
		padding: 10px;
		border-radius: 10px;
		background-color: #8EB3DE;
	
	}