.banner{
	margin: 0 auto;
	margin-bottom: 2px;
	position: relative;
	height:171px;
	width: 1024px;
	text-align: center;
}
#login{
	z-index: 1;
	position: absolute;
	width: 150px; 
	height: 30px;
	left: 874px;
	background-color: #222222;
	opacity: 0.9;
	font-weight: bold;
}
.menusor{
	margin: 0 auto;
	position: relaitve;
	text-align: center;
	width: 1024px;
	height: 35px;
	font-weight: bold;

}
	.menu_pont{
		float: left;
		height: 30px;
		width: 100px;
		background-color: #222222;	
		margin-right: 2px;
		
	}