<template name = "header">
	<div class="banner">	
		<a href="/"><div class="bannerTitle">
			BEST-BET
		</div></a>
		<div  id="login">
			{{> loginButtons}}
		</div>
		<img class="banner_img" src="images/banner.png">
	</div>
	<div class="menusor">
		<div id="menu_pont">
			<a href="/">Home</a>
		</div>
		<div class="dropdown" id="menu_pont">
			<button class="btn btn-primary dropdown-toggle" id="dropdown-button"  data-toggle="dropdown">
			Sports			
			</button>	
			<ul class="dropdown-menu" id="dropdown-menu">
				{{#each getCategories}}<li><a href="/event/{{_id}}">{{name}}</a></li>{{/each}}
			</ul>
		</div> 
		
		<div id="menu_pont">
			<a href="/leaderboard">Leaderboard</a>
		</div>
		<div id="menu_pont">
			<a href="/results">Results</a>
		</div>
		<div id="menu_pont">
			<a href="/admin/addevent">Add event</a>
		</div>
		<div id="menu_pont">
			<a href="/admin/addcategory">Add category</a>
		</div>
	</div>
</template>