<template name = "header">
	<div class="banner">			
		<div  id="login">
			{{> loginButtons}}
		</div>
		<img class="banner_img" src="images/banner.png">
	</div>
	<div class="menusor">
		<div class="dropdown" id="menu_pont">
			<button class="btn btn-primary dropdown-toggle"  data-toggle="dropdown">
			Home			
			</button>	
			<ul class="dropdown-menu">
				<li><a href="#">Sport1</a></li>
				<li><a href="#">Sport2</a></li>
				<li><a href="#">Sport3</a></li>
			</ul>
		</div>
		<div class="menu_pont">
			<a href="/product/asd">Sportok</a>
		</div>
		<div class="menu_pont">
			<a href="/product/asd">Ranglista</a>
		</div>
	</div>
</template>