<template name="addEvent">
	<div class= "main_div">
		Welcome at Best-bet! 
		<form>
		<h2> Add event </h2>
		Team 1:
		<select>
		{{#each getUsers}}
  			<option value={{_id}}>{{username}}</option>
		{{/each}}
		</select>
		Team 2:
		<select>
		{{#each getUsers}}
  			<option value={{_id}}>{{username}}</option>
		{{/each}}
		</select>
		Category:
		<select>
		{{#each getCategories}}
  			<option value={{_id}}>{{name}}</option>
		{{/each}}
		</select>
		Name:
		<input type="text" name="name"> 
		Place:
		<input type="text" name="place"> 
		<br />
		Time:
		<input type="text" name="time">
		

		Result:
		<input type="text" name="result">

		<button name = "submit"> Submit </button>
		</form>
	</div>
</template>