<template name="visitor">
	<div class= "main_div">
		<div class="visitorTitle">Welcome at Best-bet! </div>
		<h2> Latest games </h2>
		<table class="visitorTable">
			<tr class="visitorTableRow">
				<td class="visitorTableCell">Events type</td><td class="visitorTableCell">Team1 </td><td> Team2</td><td class="visitorTableCell">Result</td><td class="visitorTableCell">Place</td><td class="visitorTableCell">Date</td>
			
			</tr>
			<tr class="visitorTableRow">	
				<td class="visitorTableCell">Events type</td><td class="visitorTableCell">Team1</td><td class="visitorTableCell">Team2</td><td class="visitorTableCell">Result1 : Result2</td><td class="visitorTableCell">Place</td><td class="visitorTableCell">Date</td>
			</tr>
		</table>
	</div>
</template>